.notice-container {
  font-family: TIB,Roboto,sans-serif !important;

  font-weight: bold;

  width: 100%;

  background-color: #ffffff;

  display: flex;

  justify-content: center;

  border-bottom: #cecece solid 1px;
}

.notice-container .notice-content{
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 10px 15px;
  justify-content: space-between;
}

.notice-container .notice-left-banner{
  display: flex;
  justify-content: space-between;
}

.notice-container .notice-right-banner{
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 4rem;
}

.notice-container .notice-warning-next{
  display: flex;

  padding: 0 2rem;
}

.notice-container .notices-icon-container{
  display: flex;
  position: relative;
}

.notices-icon-container .notices-icon{
  width: 29px;
  height: 27px;
  align-self: center;
}

.notices-icon-container .notice-icon-number{
  
  position: relative;
  text-align: center;

}

.notices-icon-number p{
  position: absolute;
  top: 15%;
}

.notices-icon img{
  align-items: center;
}

.notice-container .notices-previous,
.notice-container .notices-next{
  display: flex;

  width: 20px;
  height: auto;

  padding: 0 0.5rem;

}

.notice-container .notices-icon-container{
  display: flex;
}

.notice-info .notice-info-header,
.notice-info .notice-info-body{
  display: flex;
  align-items: center;
}

.notice-container a {
  font-weight: bold;
  font-size: 14px !important;
  color: #dd052b;
  text-decoration: inherit;
}
.notice-container a:hover {
  color: #dd052b;
  text-decoration: underline;
}

.notice-container p{
  color: #666;
  font-size: 16px;
  line-height: 28px;
  font-family: TIB,Roboto,sans-serif !important;
  margin: 0;
}

.notice-container h3{
  color: #dd052b;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

.notice-container .notices-previous,
.notice-container .notices-next,
.notice-container .notices-close{
  cursor: pointer;
}

.notice-container .hidden-icon{
  visibility: hidden;
}
